@charset "utf-8";
.result .list_block.case1 li::after,.bar::after,.research_box.img .research_listbox ul li:after,.research_box.img .result .list_block::after
{clear:both;display:inline-block;visibility:hidden;content:""}
.research{width:619px}
.research .box{padding:9px 16px 26px 0px}

.research_box{float:left;width:619px}
.research_titbox{min-height:13px;padding:15px 15px 14px;background:#f3f3f3}
.research_titbox h4{position:relative;font-size:14px;color:#d31900;font-weight:normal;padding-left:19px;line-height:20px}
.research_titbox h4::before{content:"Q.";position:absolute;left:0;top:0;margin-right:4px;font-weight:bold}
.research .count{color:#555;margin:6px 0 0 21px}
.research_listbox{overflow-y:auto;overflow-x:hidden;max-height:296px}
.research.out .research_listbox,.research.out .result{max-height:100%}
.research_listbox ul{overflow:hidden;width:599px;font-size:12px;color:#555}
.research.out .research_listbox ul{width:603px}
.research_listbox ul li{margin:14px 0 0 16px}
.research_listbox ul li,.result ol li{overflow:hidden;float:left;white-space:nowrap}
.pop_wrap .research .btn_box{padding:22px 0 22px}
.research .btn_box img{max-width:100%}
.research .radiobox,.research .checkbox{line-height:18px}
.research .radiobox input + .checkmark,
.research .radiobox input:checked + .checkmark,
.research .radiobox input[type="radio"],
.research .checkbox input[type="checkbox"],
.research .checkbox input + .checkmark,
.research .checkbox input:checked + .checkmark{top:2px}/* 181127 수정 */
.research .checkbox, .research .radiobox{padding-left:20px}

.research .description{margin:12px 17px 9px;padding:10px 13px 8px;border:1px #ccc solid;line-height:18px;;color:#777}/*200323 부연 설명글 추가*/
.research .description + .box{padding:0px 16px 26px 0px;margin-top:23px}
.research .description + .box .case1 li:nth-child(1),.research .description + .box .case1 li:nth-child(2){margin-top:0}

/*결과*/
.research .cate_txt > .num{padding-right:3px}
.research .cate_txt{line-height:18px}
.research .result{overflow-y:auto;overflow-x:hidden;max-height:342px}/* 181127 수정 */
.research .result ol{width:578px;font-size:12px;color:#555}
.research.out .result ol{width:582px}
.research .result ol::after{clear:both;display:block;visibility:hidden;content:""}
.research .result ol li{margin-top:14px;overflow:hidden}

.research .list .description + .result.box{padding:0px 18px 26px 19px}/*200323 부연 설명글 추가*/
.research .description + .research_listbox .case2 li:first-child,.research .description + .result  .case2 li:first-child{margin-top:0}/*200323 부연 설명글 추가*/
.research .description + .result.box .case1 li:nth-child(2){margin-top:14px}
.research .research_box.img .description + .result.box .case1 li:nth-child(2){margin-top:0px!important}

/*텍스트형 리서치 결과*/
.research .list .result.box{padding:9px 18px 26px 19px}
.result_box .bar,.result_bar{height:12px;border-radius:50px}
.result_box .bar{overflow:hidden;float:left;width:200px;background:#ccc}

.research .case2 .result_box{width:582px}
.research .case2 .result_box .bar{width:475px}

.result_bar{overflow:hidden;max-width:100%;background:#999}
.result ol:first-child li:first-child .result_bar{background:#3b4890}
.result ol:first-child li:first-child .result_num{color:#29367c}
.research .result_box{position:relative;width:285px}
.result_num{position:absolute;right:8px;top:0;display:inline-block;min-width:81px;color:#555;text-align:right;letter-spacing:0}

/*이미지형 리서치 */
.imgbox{width:108px;height:108px;border:1px #ddd solid;margin:8px 0 0 23px;background:#f3f3f3}
.imgbox img{width:108px;height:108px}

/*이미지형 결과*/
.img .result ol{width:597px}
.research.out .img .result ol{width:603px}
.img .result ol li{margin-left:16px}
.result .imgbox{margin-left:0}
.research_box.img .list_block .cate_txt{float:none}
.research_box.img .result .list_block.case1{overflow:hidden}
.research_box.img .result .list_block.case1 li{float:left;width:278px}
.research_box.img ol .result_box{margin:11px 0 0 0}

/*1줄*/
.case1 .cate_txt,.research_listbox .case1 li{float:left;width:276px}
.case1 .result_box{float:left;margin-left:10px}
/*2줄*/
.case2 .cate_txt, .case2 .cate_txt .result_box,.research_listbox .case2 li,.result .case2 li{float:none;white-space:normal}
.case2 .result_box{margin-top:8px}
